<div id="inicio" class="col-md-8 offset-md-2" style="min-width: 570px;">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h1 style="word-spacing: 20px;";>Login</h1>
        </div>
        <div class="card-body">
           

            <form action="/login" method="POST">
               <!-- Correo -->
               <div class="form-group">
                   <label for="email">Correo</label>
                   <input type="text" name="email" class="form-control" placeholder="miCorreo@gmail.com">
               </div>
               <!-- Contrase침a -->
               <div class="form-group">
                   <label for="pass">Contrase침a</label>
                   <input type="password" name="pass" class="form-control" placeholder="contrase침a para acceder al sitio">
               </div>
               
                 <button class="btn btn-primary btn-block" style="margin-left: auto; margin-right: auto; width: 50%">
                    Iniciar sesi칩n
                </button>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
 {{#if showModal}}
    <script>
        modalError("Error en el login", "Alguno de los campos es incorrecto");

    </script>
{{/if}}