<div id="inicio" class="col-md-8 offset-md-2" style="min-width: 570px;">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h1 style="word-spacing: 20px;";>Login</h1>
        </div>
        <div class="card-body">
           

            <form action="/login" method="POST">
               <!-- Correo -->
               <div class="form-group">
                   <label for="email">Correo</label>
                   <input type="text" name="email" class="form-control" placeholder="miCorreo@gmail.com">
               </div>
               <!-- Contraseña -->
               <div class="form-group">
                   <label for="pass">Contraseña</label>
                   <input type="password" name="pass" class="form-control" placeholder="">
               </div>
                <p><a href="/registro"> Registrarse</a></p>
                <p style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #e74c3c;" id="errorMensaje"> </p>
                 <button class="btn btn-primary btn-block" style="margin-left: auto; margin-right: auto; width: 20%">
                    Iniciar sesión
                </button>
                <div class="custom-control custom-checkbox">
                    <input name="recordarme" type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                    <label class="custom-control-label" for="customCheck1">Recordarme</label>
                </div>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>

 {{#if showModal}}
    <script>
        errMensaje("errorMensaje", "Error en el login, alguno de los campos son incorrectos");

    </script>
{{/if}}
