<div id="inicio" class="col-md-8 offset-md-2" style="min-width: 570px;">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h1 style="word-spacing: 20px;";>Registro</h1>
        </div>
        <div class="card-body">
            <form action="/new-encrypted-file" method="POST" encType="multipart/form-data">
               
                <div style="margin-top:10px" class="form-group">
                    <input  type="file" id="archivo" name="archivo" placeholder="" class="form-control">
                </div>
                
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-block" style="margin-left: auto; margin-right: auto; width: 20%">
                    Subir
            </button>
        </div>
    </div>
</div>