<div id="inicio" class="col-md-8 offset-md-2" style="min-width: 570px;">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h1 style="word-spacing: 20px;";>Registro</h1>
        </div>
        <div class="card-body">
            <form action="/new-user" method="POST" encType="multipart/form-data">
               <!-- Nombre -->
               <div class="form-group">
                   <label for="nombre">Nombre de usuario</label>
                   <input type="text" name="nombre" class="form-control" placeholder="">
               </div>
               <!-- Correo -->
               <div class="form-group">
                   <label for="email">Correo</label>
                   <input type="text" name="email" class="form-control" placeholder="miCorreo@gmail.com">
               </div>
               <!-- Contraseña -->
               <div class="form-group">
                   <label for="pass">Contraseña</label>
                   <input type="text" name="pass" class="form-control" placeholder="contraseña para acceder al sitio">
               </div>
               <!-- Repetir Contraseña -->
               <div class="form-group">
                   <input type="text" class="form-control" placeholder="repita la contraseña">
               </div>
                <button class="btn btn-primary btn-block" style="margin-left: auto; margin-right: auto; width: 50%">
                    Registrarse
            </button>
            </form>
        </div>
        <div class="card-footer">
        
        </div>
    </div>
</div>