<div id="inicio" class="col-md-8 offset-md-2" style="min-width: 570px;">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h1 style="word-spacing: 20px;";>Registro</h1>
        </div>
        <div class="card-body">
            <form action="/new-user" method="POST">
               <!-- Nombre -->
               <div class="form-group">
                   <label for="name">Nombre de usuario</label>
                   <input type="text" name="name" class="form-control" placeholder="Nombre">
               </div>
               <!-- Correo -->
               <div class="form-group">
                   <label for="email">Correo</label>
                   <input type="text" name="email" class="form-control" placeholder="ej: miCorreo@gmail.com">
                    <p style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #e74c3c;" id="errEmail"> </p>

               </div>
               <!-- Contraseña -->
               <div class="form-group">
                    {{!-- <p style="font-size:15px; color:red" id="errLength"> </p> --}}

                   <label for="pass">Contraseña</label>
                   <input type="password" name="pass" class="form-control" placeholder="Contraseña">
               </div>
               <!-- Repetir Contraseña -->
               <div class="form-group">
                   <input type="password" name="repitepass" class="form-control" placeholder="Repita la contraseña">
               </div>

                <p style="width: 100%; margin-top: 0.25rem; font-size: 80%; color: #e74c3c;" id="errorMensajeReg"> </p>

                <button class="btn btn-primary btn-block" style="margin-left: auto; margin-right: auto; width: 20%">
                    Registrarse
                </button>
            </form>
        </div>
        <div class="card-footer">
        
        </div>
    </div>
</div>


 {{#if errMensaje}}
    <script>
        errMensaje("errorMensajeReg","Error al registrarse, el email ya existe");
    </script>
{{/if}}


 {{#if errMensaje2}}
    <script>
        errMensaje("errorMensajeReg","Error al registrarse, alguno de los campos está vacío");
    </script>
{{/if}}

 {{#if contraErr}}
    <script>
        errMensaje("errorMensajeReg", "Error al registrarse, las contraseñas no coinciden");
    </script>
{{/if}}

 {{#if emailErr}}
    <script>
        errMensaje("errEmail", "Formato de email no válido");
    </script>
{{/if}}
