/* Cambios al css */

.modal{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-color: rgba(5, 255, 255, .8);
}

.modal-contenido{
    background-color: #fff;
	border: 1px solid #000;
	width: 20em;
	height: 20em;
	padding: 0;
	text-align: center;

	position: relative;
	top: 20%;
	left: 50%;
    transform: translate(-50%);
    margin: 10px;
}
