<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Taks firebase node</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">

    </head>
    <body>
        <div class="container p-4">
            <div class="row">
                {{{body}}} <!-- Esto es lo que va a cambiar entre páginas -->
            </div>
        </div>
    </body>
</html>